[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "concordancer"]
	path = concordancer
	url = https://github.com/troyjcross/concordancer
